i {
    font-size: 60px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

.loading {
    text-align: center;
}

.goHome {
    text-align: center;
    margin: 0 auto;

    a {
        color: black;
        text-decoration: none;
    }
}

.goHome a:hover {
    text-decoration: underline;
}

.details {
    text-align: center;
}

.weatherState {
    font-size: 25px;
}

.daily {
    display: flex;
    flex-wrap: wrap;
}

.weatherItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    padding: 30px;
    margin: 30px;
}

.weatherDailyItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    padding: 30px;
    margin: 30px;
    flex: 1 0 12.5%;
}