<a routerLink="">Home</a>

<div *ngIf="weather$ | async as weather">
  <div *ngIf="!weather.loading; else loadingText">
    <h3>City: {{ weather.data.city }}</h3>
    <p>Timezone: {{ weather.data.timezone }}</p>

    <hr>
    <hr>

    <h3>Current weather:</h3>
    <p>Time: {{ weather.data.current.datetime | date:'HH:mm:ss' }}</p>
    <p>Temperature: {{ weather.data.current.temp }} °C</p>
    <p>Humidity: {{ weather.data.current.humidity }}%</p>
    <p>Pressure: {{ weather.data.current.pressure }} hPa</p>
    <p>UV index: {{ weather.data.current.uvi }}</p>

    <hr>
    <hr>

    <h3>Daily weather:</h3>
    <div *ngFor="let weatherDay of weather.data.daily">
      <p>Date: {{ weatherDay.datetime | date:'MMM d'}}</p>
      <p>Temperature: {{ weatherDay.temp }} °C</p>
      <p>Humidity: {{ weatherDay.humidity }}%</p>
      <p>Pressure: {{ weatherDay.pressure }} hPa</p>
      <p>UV index: {{ weatherDay.uvi }}</p>
      <hr>
    </div>
  </div>
</div>

<ng-template #loadingText>
  <h3>
    Loading...
  </h3>
</ng-template>